<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
  </head>
  <body>
<section style="position: fixed;margin-left: 800px;">
  <a href="/comments/new"><button>create new comment</button></a>
</section>
    <% for( let data of appdata) { %>
    <div>
      <h3><%= data.id %></h3> 
        <h1><%= data.name %> </h1>
        <p><%= data.tweet %> </p>
        <h4><%= data.followers %> </h4>
        <a href="/comments/<%= data.id %>"><button>details</button></a>
        <hr>
    </div>
    <% } %>
 
  </body>
</html>
